{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/goals/goal-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="goal-container">
  <div class="goal-img">
  {% if goal.priority < 2 %}
    <img 
      src="{% static "images/gold.png" %}"
      alt="Gold Medal"
    >
  {% elif goal.priority == 2 %}
    <img 
      src="{% static "images/silver.png" %}"
      alt="Silver Medal"
    >
  {% else %}
    <img 
      src="{% static "images/bronze.png" %}"
      alt="Bronze Medal"
    >
  {% endif %}
  </div>
  <div class="goal-details">
    <h1>{{ goal.name }}</h1>
    <h4>{{ goal.days }} days a week</h4>
    <p>{{ goal.description }}</p>
    <div class="goal-actions">
      <a href="{% url 'goal-update' goal.id %}" class="btn warn">Edit</a>
      <a href="{% url 'goal-delete' goal.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}