h1 {
  text-align: center;
}

.page-content {
  width: 475px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  text-align: center;
  border-radius: 5px;
  padding: 3%;
  margin-left: 10%;
}